
/*ESTITOS PARA TABLETS Y TELEFONOS*/
@media (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background: #1C2331 !important;
    }

    .display-1 {
      font-size: 3.2em;
    }

    .display-3 {
      font-size: 2.5em;
    }

    .text-reduc-4 {
      font-size: 17px;
    }
  }

/*SCROLLBAR*/

/*

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width:10px;
}

::-webkit-scrollbar-button:increment,::-webkit-scrollbar-button {
  display: none;
} 

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-track {
  border-radius: 10px;  
}

*/

.sombra-texto{
  text-shadow: 2px 2px 2px grey;
}

.logoslenguajes{
  max-height: 50px;
}